body {
	line-height: 1;
	font-family: Arial, Verdana;
	color: #FFFFFF;
	background-color: #000000;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	text-align: center;
	font-size: 42px;
	padding: 15px;
}
h2 {
	font-size: 30px;
	color: #0D0D0D;
}
p {
	font-size: 24px;
	padding-left: 10px;
	padding-top: 10px;
}
img {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-color: #FFFFFF;
}
div{
	padding: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 3px;
	height: auto;
	min-height: 125px;
}
.introduction {
	border-radius: 15px;
	margin-top: 15px;
	line-height: 2;
}
.red {
	border-style: solid;
	border-width: 0px 0px 2px 5px;
	background-color: #ff0000;
	text-align: right;
	margin-left: 50px;
}
.blue {
	color: #C4C4C4;
	background-color: #0000ff;
	text-align: left;
	margin-right: 50px;
	border-style: solid;
	border-width: 2px 5px 0px 0px;
}
.blue > h2 {
	color: #C4C4C4;
}
.yellow {
	color:#707070;
	background-color: #FFFF00;
	text-align: right;
	margin-left: 50px;
	border-style: solid;
	border-width: 0px 0px 2px 5px;
}
.green {
	color: #FFFFFF;
	background-color: #008500;
	text-align: left;
	margin-right: 50px;
	border-style: solid;
	border-width: 2px 5px 0px 0px;
}
footer {
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-image: linear-gradient(to right,#000000, #0000ff,#0066ff,#000000);
	text-align: right;
}
footer > p {
	font-size: 20px;
	padding: 15px 15px 15px 0px;
}